.header {
    background-image: url("../../public/logo-getinfo.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: center;
    background-position-X: center;
    
}

.fileInput {

}

.fileInput::file-selector-button {
    color: black;
    padding: 0.5vh;
    background-color:#5fe0d5;

}

@media screen and (max-width: 480px) {
    .header {
        display: none;
    }
}