.header {
    background-image: url("../../public/logo-getinfo.png");
    background-repeat: no-repeat;
    background-size: 16vw;
    background-position-y: center;
    background-position-X: center;
}

@media screen and (max-width: 480px) {
    .header {
        display: none;
    }
}